<!DOCTYPE html>
<html>
  <head>
    <title>Sprint 1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--css externo-->
    <%= stylesheet_link_tag "journal" %>
    <!--kit iconos font awesome-->
    <script src="https://kit.fontawesome.com/04caf82571.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>




    <%= render 'shared/navbar' %>

    <%= yield %>
  </body>

  
</html>
